{% extends "generic/loc_base.html" %}

{% block title %}Generic Home{% endblock %}

{% block page_heading %}Page heading block cc {% endblock %}

{% block breadcrumbs %}
  <p><a href="{{ url_for('generic.home') }}">Generic Home</a></p>
{% endblock %}

{% block content %}
  <h1>This is the generic test page.</h1>

    <p>Millions of Americans bought homes in recent years with mortgage rates at 6.5% or higher, often betting they could refinance to a lower rate within a year or two.</p>

    <p>Now, with little hope of a rate cut in July after a solid jobs report on Thursday, many of these owners face the predicament of paying those higher costs for longer than they expected.</p>


    <p>Sean and Jennifer Glocker bought a townhouse in the oceanside community of Ponte Vedra Beach, Fla., in 2023. Their mortgage rate was 7.6%, but they were happy with the price and expected rates to drop below 6% within a year. Then they would refinance.</p>
{% endblock %}
