 <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon">
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="bg-light py-3 mb-4 border-bottom">
    <div class="meta-layout d-flex justify-content-between align-items-center">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" height="50">
      <h1 class="h4 m-0">{% block page_heading %}{% endblock %}</h1>
    </div>
    <nav class="container">
      <a href="{{ url_for('home.home') }}" class='me-3'>HOME</a> |
      <a href="{{ url_for('generic.home') }}" class="mx-3 {% if active_page == 'home' %}active{% endif %}">Home</a>
      <a href="{{ url_for('generic.about') }}" class="me-3 {% if active_page == 'about' %}active{% endif %}">About</a>
      <a href="{{ url_for('generic.work') }}" class="me-3 {% if active_page == 'work' %}active{% endif %}">Work</a>
      <a href="{{ url_for('generic.echo_page') }}" class="me-3 {% if active_page == 'echo' %}active{% endif %}">Echo</a>    </nav>
  </header>

  <main class="container">
    {% block breadcrumbs %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
