body {
    font-family: sans-serif;
    margin: auto;
    padding: 2em;
    max-width: 1800px;
}
.meta-layout {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}
iframe { width: 50vw;
    height: 90vh;
    border: 1px solid #ccc;
}
.meta { flex: 1;
    border: 1px dashed #ccc;
    padding: 1em;
    background: #f9f9f9;
}
.active {
    font-weight: bold;
    text-decoration: underline;
}
textarea {
    width: 100%;
    resize: vertical;
    font-family: monospace;
    font-size: 1em;
}
.result {
    margin-top: 2em;
    padding: 1em;
    background: #f9f9f9;
    border-left: 4px solid #ccc;
}
#grid-search {
    margin-bottom: 1em;
    width: 30em;
    padding: 0.3em;
}
