click==8.2.1
greater_tables==3.3.0
lark==1.2.2
latexcodec==3.0.0
numpy==2.3.1
pandas==2.3.1
pendulum==3.1.0
prompt_toolkit==3.0.51
pydantic==2.11.7
pymupdf==1.26.3
pypdf==5.7.0
python_Levenshtein==0.27.1
PyYAML==6.0.2
PyYAML==6.0.2
rapidfuzz==3.13.0
Requests==2.32.4
rich==14.0.0
tqdm==4.67.1
