{% extends "base.html" %}

{% block title %}Home Home{% endblock %}

{% block page_heading %}Title in top right {% endblock %}


{% block content %}
  <h1>Uber Home Page.</h1>

  <p>It is perhaps a fitting irony that the quantification of risk is riddled with uncertainty. Capital modeling is part science, part dark art—and its real value often isn’t the final number, but the insight gained along the way. While some may chase the best estimate, models are most useful when they show a range of outcomes and the assumptions behind them. Some inputs are squishy, like risk appetite, and it’s often easier to rule out wrong answers than pin down the right one. Think of capital modeling less as a calculator and more as a compass: it won’t give you the answer, but it helps you head in the right direction.</p>

{% endblock %}
