{% extends "base.html" %}

{% block title %}Load New PDFs{% endblock %}

{% block content %}

<div class="row mb-4">
  <div class="col-12">
    <h1>archivum - new papers</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-1">
    <label for="file" class="form-label">Select new file PDF</label>
  </div>
  <div class="col-md-11">
    <form method="get">
      <select name="file" id="file" size="8" class="form-select w-100" onchange="this.form.submit()">
        {% for pdf in pdfs %}
          <option value="{{ pdf }}" {% if pdf == selected %}selected{% endif %}>{{ pdf }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4">
    <p>{{ title_1 }}</p>
  </div>
  <div class="col-md-4">
    <p>{{ title_2 }}</p>
  </div>
  <div class="col-md-4">
    <p>Stuff 3</p>
  </div>
</div>


{% if selected %}
<div class="row">
  <div class="col-md-6">
    <h2>PDF Document</h2>
    <iframe src="{{ url_for('new_doc.serve_pdf', filename=selected) }}" class="w-100" style="min-height: 500px;"></iframe>
  </div>
  <div class="col-md-6">
    <h2>Extracted meta data</h2>
    {{ metadata|safe }}
    <h2 class="mt-4">Draft bibTeX</h2>
    <textarea id="bibtex" rows="15" class="form-control" style="resize: vertical;">{{ bibtex }}</textarea>
  </div>
</div>
{% endif %}

{% endblock %}
